

  <!-- home.component.html -->

<div class="background-container">
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
              <h2 class="active"> Connexion </h2>
              <a href="register">
              <h2 class="inactive underlineHover">Register </h2>
            </a>
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="../../assets/user.png" style="height: 15%;width: 15%;" id="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form -->
              <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="Se Connecter">
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
              </div>
          
            </div>
          </div>
        </body>
      </div>
      