<!-- home.component.html -->

<div class="background-container">
<body>
    <div class="container">
        <div class="product-card">
          <div class="product-image">
            <!-- Add your image here -->
            <img src="../../assets/shoes.png" alt="Product Image" />
          </div>
          <div class="product-details">
            <h2 class="product-title">Produit</h2>
            <button class="add-to-cart-btn">Encherer</button>
            <button class="view-btn">Details</button>
          </div>
        </div>
      
        <div class="product-card">
          <div class="product-image">
            <!-- Add your image here -->
            <img src="../../assets/shoes.png" alt="Product Image" />
          </div>
          <div class="product-details">
            <h2 class="product-title">Produit</h2>
            <button class="add-to-cart-btn">Encherer</button>
            <button class="view-btn">Details</button>
          </div>
        </div>
        <div class="product-card">
            <div class="product-image">
              <!-- Add your image here -->
              <img src="../../assets/shoes.png" alt="Product Image" />
            </div>
            <div class="product-details">
              <h2 class="product-title">Produit</h2>
              <button class="add-to-cart-btn">Encherer</button>
              <button class="view-btn">Details</button>
            </div>
          </div>
      </div>
    </body>
  </div>
  