

  <!-- home.component.html -->

  <div class="background-container">
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
              <a href="login">
              <h2 class="inactive underlineHover"> Connexion </h2>
            </a>
              <h2 class="active">Register </h2>
           
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="../../assets/user.png" style="height: 15%;width: 15%;" id="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form -->
              <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Numero de telephone">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Adresse">
                <input type="submit" class="fadeIn fourth" value="S'inscrire">
              </form>
          
             
             
          
            </div>
          </div>
        </body>
      </div>
      